*{
  margin: 0;padding: 0;
}
ul,li{list-style: none;}
@font-face {
	font-family:'主题字';
	src: url('../fonts/fontawesome-webfont.ttf');
}
body{
	font-family:'主题字';
  font-size:12px;
/* font: 16px 'webfont';*/
}
.clearfix:after,.clearfix:before{  /*清除浮动*/
   content: "";
   display: table;
}
.clearfix:after{
   clear: both;
}
.clearfix{
  *zoom:1; /*兼容IE和IE7*/
}
a{color:#000 !important;text-decoration: none;}
a:hover{color: red !important;}
.poa{
	position: absolute;
}
.por{
	position: relative;
}	
.fl{
	float: left;
}
.fr{
	float: right;
}
/*@media only screen and (max-width: 980px) {
	.navbar-header{
		display: block;
	}
}*/
