body.modal-open { 
  padding-right: 0 !important;
  overflow-y: scroll;
}
.D_top{
	width: 100%;
	height: 52px;
	background-color: black;
	z-index: 99;
	padding-right: 10% !important;
}
.D_top>.D_top_form{
	width: 245px;
	height: 35px;
	background-color: #fff;
	/*margin-right: 96px;*/
	margin-top: 8px;
	border-radius:25px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.D_top>.D_top_form>input{
	height: 100%;
	width: 193px;
	border:none ;
	outline:medium;
	border-radius:25px 0 0 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
.D_top>.D_top_form>button{
	width: 52px;
	height: 100%;
	border:none ;
	outline:medium;
	border-radius:0 25px 25px 0;
	background: #de5304 url(../img/search.png) no-repeat center center;
}
.con_zt{
	width: 300px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -150px;
	border: 2px solid #fe5207;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
}
.daohang{
	z-index: 99;
	width: 100%;
	left: 0;
	top: 50px;
}
.nav_con{
	padding: 11px 0px  !important;
}

.ulpo>li{
	padding: 0 20px;
}
.ulpo>li>a{
	padding: 14px 0 !important;
	font-weight: 600;
}
.ulpo>.lii1{
	padding-right: 0;
}
@media only screen and (min-width: 580px) and (max-width:768px) {
.ulpo>.lii2{
	padding-left: 10px;
}
}

@media only screen and (max-width: 1200px) {
	.con_zt{
	width: 250px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -125px;
}

.ulpo>li{
	padding: 0 10px;
}
}
/*@media only screen and (max-width: 1030px) {
	.con_zt{
	display: none;
}

}*/
 .ma_z_title{
	margin-top: 12px;
	font-size: 24px;
}
.fon_b{
	font-weight: 600;
}
.ma_z_title>p:nth-child(2){
	color: #e88483;
	font-size: 12px;
	letter-spacing:2px;
}
.ma_z_title>p:nth-child(3){
	font-size: 12px;
	line-height: 25px;
}
.iop{
	margin-top: 30px;
}
.iop>p:nth-child(2){
	line-height: 25px;
}
.p71{
	padding-left: 70px !important;
}
.ma_y_t1{
	/*width: 600px;*/
	height: 450px;
}
.c6_tu1{
	width: 520px ;
	height: 346px ;
	left: 0px;
	bottom: 0px;
}
.c6_tu2{
	width: 288px ;
	height: 175px ;
	right: 0px;
	top: 0;
}
.pt73{
	padding-top: 73px;
	padding-bottom: 75px;
}
.ma_z_title>p:nth-child(2){
	color: #e88483;
	font-size: 12px;
	letter-spacing:2px;
}
.m_bbt>p{
	text-align: center;
}
.m_bbt>p:nth-child(1){
	font-size: 35px;
	color: #fff;
	line-height: 35px;
	margin-bottom: 8px;
}
.m_bbt>p:nth-child(2){
	color: #a82600;
	font-size: 14px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}
.m_b{
	padding-top: 60px;
	padding-bottom: 75px;
	background: url(../img/banner1.jpg) no-repeat center center;
	background-size: cover;
}
.m_b_b{
	margin-top: 30px;
}
.m_b_b_b{
	text-align: center;
} 
.md_3_1{
	display: inline-block;
	width: 107px;
	height: 107px;
	text-align: center;
	border: 2px solid #fff;
	border-radius:50% ;
	line-height: 107px;
	box-sizing: border-box;
}
.m0a{
	margin: 0 auto;
}
.con_wrap .md_3{
	width: 140px;
	height: 190px;
	float: left;
	margin-left: 200px;
	text-align: center;
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
.con_wrap{
	width: 980px;
}
.con_wrap .md_3{
	margin-left: 130px;
}
}
@media only screen and (min-width: 800px) and (max-width: 989px) {
.con_wrap{
	width: 730px;
}
.con_wrap .md_3{
	margin-left: 50px;
}
.m_b_b {
    margin-top: 30px;
}
}
.m_b_b_b>p:nth-of-type(1){
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #1d6082;
}
.m_b_b_b>p:nth-of-type(2){
	font-size: 12px;
/*	margin-bottom: 0px;*/
	color: #fff;
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
.con_wrap{
	width: 650px;
}
.con_wrap .md_3{
	margin-left: 30px;
}
.m_b_b {
    margin-top: 20px;
}
.con_wrap .md_3>p:nth-of-type(1){
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #1d6082;
}
}
.m_c{
	padding-top: 64px;
}
.mc_a{
	margin-bottom: 30px;
}
.mc_a>p{
	text-align: center;
	margin-bottom: 0;
}
.mc_a>p:nth-of-type(1){
	font-size: 26px;
	line-height: 28px;
}
.mc_a>p:nth-of-type(2){
	font-size: 12px;
	color: #de5304;
	letter-spacing: 5px;
}
.mc_b  ul>li{
	padding: 5px 5px !important;
}
.mr10{
	margin-right:  0px !important;
}
.mc_b  ul>li img{
	width: 100%;
}
.yinb{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*padding-top: 70px;*/
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 0.5s !important;
	box-sizing: border-box;
}
.yinb .btn_co{
	left: 50%;
	top: 50%;
	margin-top: -18px;
	margin-left: -105px;
	width: 210px;
	height: 35px;
	background-color: #c15622;
	border-radius: 5px;
	line-height: 35px;
	color: #fff;
	padding: 0 0 !important;
	border: none;
}
.mc_b ul>li:hover .yinb{
	opacity: 1;
	
}
.mc_b ul>li:nth-last-of-type(-n+3){
	display: none;
}

.yinb .btn_co:hover{
	background-color: #c15622 !important;
}
.m_d{
	padding-top: 80px;
}
.otp{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.m_e{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #000;
	margin-top: 8px;
}
.m_e>p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.pof{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
}
.zhid{
	width: 100%;
	height: 70px;
}
.sdw{
	display: inline-block;
	width: 34px;
	height: 34px;
	right: 8%;
	bottom: -3%;
	background: url(../img/arrow.png) no-repeat center center;
	z-index: 9;
}
.zhez{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	text-align: center;
	transition: all 0.5s;
}
.arrlis:hover .zhez{
	opacity: 1;
}
.zhez>div{
	width: 100%;
	height: 15%;
/*	background-color: #fff;*/
	bottom: 50%;
	left: 0;
	margin-bottom: -13%;
	text-align: center;
}
.zhez>div>form{
	width: 70%;
	height: 50%;
	position: absolute;
	left: 50%;
	margin-left: -35%;
}
.zhez>div button{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 18px;
/*	color: red;*/
	background-color: rgba(96,96,96,0.5);
	border: none;
}
.zhez>div p{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	letter-spacing: 10px;
	font-size: 12px;
}

@media only screen and (min-width: 680px) and (max-width: 800px) {
	.rvc-prv{						
	right: 16% !important;			
}
}
@media only screen and (min-width: 350px) and (max-width: 500px) {

	.c6_tu1{
	width: 320px ;
	height: 246px ;
	left: 0px;
	bottom: 0px;
}
	.c6_tu2{
	width: 200px ;
	height: 130px ;
	right: 0px;
	top: 0;
}
	.ma_y_t1{
		/*width: 600px;*/
		height: 300px;
	}

}
@media only screen and (max-width: 349px){
	.c6_tu1{
	width: 270px ;
	height: 200px ;
	left: 0px;
	bottom: 0px;
}
	.c6_tu2{
	width: 150px ;
	height: 100px ;
	right: 0px;
	top: 0;
}
	.ma_y_t1{
		/*width: 600px;*/
		height: 250px;
	}	
}
/*新闻轮播*/
.rvc{			
	max-width: 100%;
	position: relative;
	margin: auto;
	padding-top: 40px;
	overflow: hidden;
}
.rvc .rvc-wrapper{
	margin: auto;
	overflow: hidden;
}
.rvc .rvc-wrapper ul{
	overflow: hidden;
	position: relative;
}
.rvc .rvc-wrapper ul li{
	float: left;
	background: #ee4433;
}

.rvc .rvc-wrapper>ul>li>a .img-wrapper{
	height: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.rvc-prv,.rvc-next{
	width: 35px !important;
	height: 20px !important;
	position: absolute;
	height: 100%;
	top: 0%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #313131;
    border-radius: 10px;
}
.rvc-prv{						
	right: 15%;			
}
.rvc-next{			
	right: 10%;
	
}
.w100{
	width: 10px !important;
}
.rvc .rvc-wrapper>ul>li>a .img-wrapper img{
	width: 100%;
	height: 100%;
}
.con_zt1{
	width: 200px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -100px;
	border: 2px solid #fe5207;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	display: none;
}
@media only screen and (min-width: 300px) and (max-width: 680px) {
	.mc_b ul>li:nth-last-of-type(-n+3){
	display: none !important;
    }

}
@media only screen and (min-width: 450px) and (max-width: 768px) {
.con_zt1{
	display: block;
	
}
.con_zt{
	display: none;
}

}
@media only screen and (min-width: 350px) and (max-width: 449px) {
	.rvc-prv{						
	right: 30% !important;			
}
	.con_zt1{
	display: block;
	width: 170px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -85px;
	font-size: 16px;
	
}
.con_zt{
	
	display: none;
}
}
@media only screen and (min-width: 314px) and (max-width: 349px) {
	.con_zt1{
	display: block;
	width: 120px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -60px;
	font-size: 13px;
}
.con_zt{
	
	display: none;
}
}
@media only screen and (min-width: 300px) and (max-width: 349px) {
/*搜索*/
	.rvc-prv{						
	right: 30% !important;			
}
.D_top>.D_top_form{
	width: 200px;
	height: 35px;
	background-color: #fff;
	/*margin-right: 96px;*/
	margin-top: 8px;
	border-radius:25px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.D_top>.D_top_form>input{
	height: 100%;
	width: 146px;
	border:none ;
	outline:medium;
	border-radius:25px 0 0 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
}
.chi{
	font-size: 16px;
	color: #fff;
	line-height: 52px;
	margin-left: 20px;
	text-decoration: none !important;
	color: #fff !important;
}
.chi:hover{
	color: #fff !important;
}
.EN{
	display: none;
}
