/*body{
	position: relative;
}*/
.D_top{
	width: 100%;
	height: 52px;
	background-color: black;
}
.D_top>.D_top_form{
	width: 245px;
	height: 35px;
	background-color: #fff;
	margin-right: 96px;
	margin-top: 8px;
	border-radius:25px;
}
.D_top>.D_top_form>input{
	height: 100%;
	width: 193px;
	border:none ;
	outline:medium;
	border-radius:25px 0 0 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
.D_top>.D_top_form>button{
	width: 52px;
	height: 100%;
	border:none ;
	outline:medium;
	border-radius:0 25px 25px 0;
	background: #de5304 url(../img/search.png) no-repeat center center;
}
.con_zt{
	width: 300px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -150px;
	border: 2px solid #fe5207;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
}
.nav_con{
	padding: 11px 130px  !important;
}
.ulpo>li{
	padding: 0 20px;
}
.ulpo>li>a{
	padding: 14px 0 !important;
	font-weight: 600;
}
.ulpo>.lii1{
	padding-right: 0;
}
.ulpo>.lii2{
	padding-left: 0;
}
@media only screen and (min-width: 580px) and (max-width:768px) {
.ulpo>.lii2{
	padding-left: 10px;
}
}
.lunz{
	width: 35px;
	height: 35px;
	background-color: #fff;
	position: absolute;
	left: 300% !important;
	top: 65% !important;
	background: url(../img/left.png) no-repeat center;

}
.luny{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 300% !important;
	top: 65% !important;
	background: url(../img/right.png) no-repeat center;

}
.lunzhao{
	width: 100%;
	min-height: 152px;
	left: 0;
	top: 50%;
	margin-top: -126px;
	color: #fff;
}
.lunzhao>p:nth-of-type(1){
	font-size: 30px;
	color: #fff;
	letter-spacing: 3px;
}
.lunzhao>p:nth-of-type(2){
	font-size: 12px;	
	letter-spacing: 5px;
}
.lunzhao>a{
	display: inline-block;
	width: 133px;
	height: 38px;
	background-color: #ff5000;
	color: #fff !important;
	text-decoration: none !important;
	margin-top: 20px;
	font-size: 12px;
	line-height: 38px;
}
@media only screen and (max-width: 860px) {
	.ulpo>li{
	padding: 0 10px;
}
}
@media only screen and (max-width: 1200px) {
	.con_zt{
	width: 250px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -125px;
}
	.luny{
	position: absolute;
	right: 295% !important;
	top: 80% !important;
}
	.lunz{
	position: absolute;
	left: 295% !important;
	top: 80% !important;
}
.ulpo>li{
	padding: 0 10px;
}
}
@media only screen and (max-width: 1030px) {
	.con_zt{
	display: none;
}
	.luny{
	position: absolute;
	right: 290% !important;
	top: 80% !important;
}
	.lunz{
	position: absolute;
	left: 290% !important;
	top: 80% !important;
}
}
 .ma_z_title{
	margin-top: 12px;
	font-size: 24px;
}
.fon_b{
	font-weight: 600;
}
.ma_z_title>p:nth-child(2){
	color: #e88483;
	font-size: 12px;
	letter-spacing:2px;
}
.ma_z_title>p:nth-child(3){
	font-size: 12px;
	line-height: 25px;
}
.iop{
	margin-top: 30px;
}
.iop>p:nth-child(2){
	line-height: 25px;
}
.p71{
	padding-left: 70px !important;
}
.ma_y_t1{
	width: 600px;
	height: 450px;
}
.c6_tu1{
	width: 520px ;
	height: 346px ;
	left: 0px;
	bottom: 0px;
}
.c6_tu2{
	width: 288px ;
	height: 175px ;
	right: 0px;
	top: 0;
}
.pt73{
	padding-top: 73px;
	padding-bottom: 75px;
}
.ma_z_title>p:nth-child(2){
	color: #e88483;
	font-size: 12px;
	letter-spacing:2px;
}
.m_b{
	padding-top: 80px;
	padding-bottom: 75px;
	background: url(../img/banner1.jpg) no-repeat center center;
}
.m_bbt>p{
	text-align: center;
}
.m_bbt>p:nth-child(1){
	font-size: 35px;
	color: #fff;
	line-height: 35px;
	margin-bottom: 8px;
}
.m_bbt>p:nth-child(2){
	color: #a82600;
	font-size: 14px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}
.m_b_b{
	margin-top: 50px;
}
.md_3_1{
	display: inline-block;
	width: 107px;
	height: 107px;
	border: 2px solid #fff;
	border-radius:50% ;
	line-height: 107px;
	box-sizing: border-box;
}
.con_wrap{
	width: 1164px;
	margin: 0 auto;
}
.m0a{
	margin: 0 auto;
}
.con_wrap .md_3{
	width: 140px;
	height: 190px;
	float: left;
	margin-left: 200px;
	text-align: center;
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
.con_wrap{
	width: 980px;
}
.con_wrap .md_3{
	margin-left: 130px;
}
}
@media only screen and (min-width: 800px) and (max-width: 989px) {
.con_wrap{
	width: 730px;
}
.con_wrap .md_3{
	margin-left: 50px;
}
.m_b_b {
    margin-top: 30px;
}
}
.con_wrap .md_3:nth-child(1){
	margin-left: 0;
}
.con_wrap .md_3>p:nth-of-type(1){
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 5px;
	color: #1d6082;
}
.con_wrap .md_3>p:nth-of-type(2){
	font-size: 12px;
	margin-bottom: 0px;
	color: #fff;
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
.con_wrap{
	width: 680px;
}
.con_wrap .md_3{
	margin-left: 30px;
}
.m_b_b {
    margin-top: 20px;
}
.con_wrap .md_3>p:nth-of-type(1){
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #1d6082;
}
}
.m_c{
	padding-top: 64px;
}
.mc_a{
	margin-bottom: 30px;
}
.mc_a>p{
	text-align: center;
	margin-bottom: 0;
}
.mc_a>p:nth-of-type(1){
	font-size: 26px;
	line-height: 28px;
}
.mc_a>p:nth-of-type(2){
	font-size: 12px;
	color: #de5304;
	letter-spacing: 5px;
}
.mc_b>.mc_ba{
	width: 780px;
	height: 530px;
	margin: 0 auto;
}
.mc_b>.mc_ba>ul>li{
	float: left;
	margin-left: 14px;
	margin-top: 14px;
	position: relative;
}
.mc_b>.mc_ba>ul>li img{
	width: 250px;
	height: 167px;
}
.ml0{
	margin-left: 0px !important;
}
.mt0{
	margin-top: 0;
}
.mc_b>.mc_ba>ul>li:nth-last-of-type(-n+6){
	display: none;
}
.yinb{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	display: none;
	box-sizing: border-box;
}
.yinb .btn_co{
	width: 210px;
	height: 35px;
	background-color: #c15622;
	border-radius: 5px;
	line-height: 35px;
	margin: 0 auto;
	color: #fff;
	padding: 0 0 !important;
	border: none;
}
.mc_b>.mc_ba>ul>li:hover .yinb{
	display: block;
	
}
.yinb .btn_co:hover{
	background-color: #c15622 !important;
}
.m_d{
	padding-top: 80px;
}
.otp{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.m_e{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #000;
	margin-top: 8px;
}
.m_e>p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.pof{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
}
.zhid{
	width: 100%;
	height: 70px;
}
.sdw{
	width: 34px;
	height: 34px;
	right: 8%;
	bottom: 0;
	background: url(../img/arrow.png) no-repeat center center;
}
.zhao{
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	display: none;
}
.hov>.otp:hover .zhao{
	display: block;
}
.zhao>div{
	
	width: 90%;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -45%;
	margin-top: -35px;
}
.zhao>div>a{
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color: rgba(96,96,96,0.5);
	text-decoration: none;
	line-height: 40px;
	color: #fff !important;
	letter-spacing: 8px;
	font-size: 18px;
}
.zhao>div>span{
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	letter-spacing: 10px;
}
.qieh{
	right: 8%;
	bottom: 2%;
}
.qieh>a{
	display: inline-block;
	width: 48px;
	height: 20px;
	background-color: #3a3a3a;
	border-radius: 10px;
}
/*模态框*/

#myModal3{
	position: fixed !important;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 99;
	display: none;
}
#myModal3 .top{
	width: 100%;
	height: 53px;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 6px;
	box-sizing: border-box;
}
#myModal3 .top>.btn-ba{
	width: 50px;
	height: 53px;
	bottom: 0;
	right: 5%;
	color: #fff;
	background-color: black;
	font-size: 30px;
	outline:none;
	border:none ;
}
#myModal3 .top p{
	text-align: center;
	margin: 0 0;
}
#myModal3 .top p:nth-child(1){
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
#myModal3 .top p:nth-child(2){
	font-size: 12px;
	color: #fff;
	line-height: 15px;
}
#myModal3 .lun{
	width: 640px;
	height: 425px;
	margin: 0 auto;
	margin-top: 150px;
}
.tn3-text-bg{
	display: none;
}
/*#myModal .ab-a{
	width: 640px;
	height: 425px !important;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -218px;
	margin-left: -320px;
}
#myModal .ab-a .ab-b{
	width: 640px;
	height: 425px !important;
}
#myModal .ab-bc{
	border-bottom:none  !important;
	width: 100% !important;
	height: 53px !important;
	background-color: black;
}*/
