.D_top{
	width: 100%;
	height: 52px;
	background-color: black;
	
}
.D_top>.D_top_form{
	width: 245px;
	height: 35px;
	background-color: #fff;
	margin-right: 96px;
	margin-top: 8px;
	border-radius:25px;
}
.D_top>.D_top_form>input{
	height: 100%;
	width: 193px;
	border:none ;
	outline:medium;
	border-radius:25px 0 0 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
.D_top>.D_top_form>button{
	width: 52px;
	height: 100%;
	border:none ;
	outline:medium;
	border-radius:0 25px 25px 0;
	background: #de5304 url(../img/search.png) no-repeat center center;
	/*background-size:100% 100% ;*/
}
.con_zt{
	width: 300px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -150px;
	border: 2px solid #fe5207;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
}
.nav_con{
	padding: 11px 130px  !important;
}
.ulpo>li{
	padding: 0 20px;
}
.ulpo>li>a{
	padding: 14px 0 !important;
	font-weight: 600;
}
.ulpo>.lii1{
	padding-right: 0;
}
.ulpo>.lii2{
	padding-left: 0;
}
.lunz{
	width: 35px;
	height: 35px;
	background-color: #fff;
	position: absolute;
	left: 300% !important;
	top: 80% !important;
	background: url(../img/left.png) no-repeat center;

}
.luny{
	width: 35px;
	height: 35px;
	background-color: blue;
	position: absolute;
	right: 300% !important;
	top: 80% !important;
	background: url(../img/right.png) no-repeat center;

}
@media only screen and (max-width: 860px) {
	.ulpo>li{
	padding: 0 10px;
}
}
@media only screen and (max-width: 1200px) {
	.con_zt{
	width: 250px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -125px;
}
	.luny{
	position: absolute;
	right: 295% !important;
	top: 80% !important;


}
	.lunz{
	position: absolute;
	left: 295% !important;
	top: 80% !important;


}
.ulpo>li{
	padding: 0 10px;
}
}
@media only screen and (max-width: 1030px) {
	.con_zt{
	display: none;
}
	.luny{
	position: absolute;
	right: 290% !important;
	top: 80% !important;


}
	.lunz{
	position: absolute;
	left: 290% !important;
	top: 80% !important;


}
}
 .ma_z_title{
	margin-top: 12px;
	font-size: 24px;
}
.fon_b{
	font-weight: 600;
}
.ma_z_title>p:nth-child(2){
	color: #e88483;
	font-size: 12px;
	letter-spacing:2px;
}
.ma_z_title>p:nth-child(3){
	font-size: 12px;
	line-height: 25px;
}
.iop{
	margin-top: 30px;
}
.iop>p:nth-child(2){
	line-height: 25px;
}
.p71{
	padding-left: 70px !important;
/*	width: 570px !important;*/
	/*margin-right: 45px;*/
}
.ma_y_t1{
	width: 600px;
	height: 450px;
/*	height: auto;*/
}
.c6_tu1{
	width: 520px ;
	height: 346px ;
	left: 0px;
	bottom: 0px;
}
.c6_tu2{
	width: 288px ;
	height: 175px ;
	right: 0px;
	top: 0;
}
.pt73{
	padding-top: 73px;
	padding-bottom: 75px;
}
.ma_z_title>p:nth-child(2){
	color: #e88483;
	font-size: 12px;
	letter-spacing:2px;
}
.m_b{
	padding-top: 80px;
	padding-bottom: 75px;
	background: url(../img/banner1.jpg) no-repeat center center;
	background-size: 100% auto;
}
.m_bbt>p{
	text-align: center;
	
}
.m_bbt>p:nth-child(1){
	font-size: 35px;
	color: #fff;
	line-height: 35px;
	margin-bottom: 8px;
}
.m_bbt>p:nth-child(2){
	color: #a82600;
	font-size: 14px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}
.m_b_b{
	margin-top: 50px;
}
.md_3_1{
	display: inline-block;
	width: 107px;
	height: 107px;
	border: 2px solid #fff;
	border-radius:50% ;
	line-height: 107px;
	box-sizing: border-box;
	
}
.con_wrap{
	/*width: 1164px;*/
	margin: 0 auto;
	/*background-color: #fff;*/
}
.con_wrap .md_3{
	width: 140px;
	height: 190px;
	float: left;
	margin-left: 200px;
	text-align: center;
}
.con_wrap .md_3:nth-child(1){
	margin-left: 0;
}
.con_wrap .md_3>p:nth-of-type(1){
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 5px;
	color: #1d6082;
}
.con_wrap .md_3>p:nth-of-type(2){
	font-size: 12px;
	margin-bottom: 0px;
	color: #fff;
}
.m_c{
	padding-top: 64px;
}
.mc_a{
	margin-bottom: 30px;
}
.mc_a>p{
	text-align: center;
	margin-bottom: 0;
}
.mc_a>p:nth-of-type(1){
	font-size: 26px;
	line-height: 28px;
}
.mc_a>p:nth-of-type(2){
	font-size: 12px;
	color: #de5304;
	letter-spacing: 5px;
}
.mc_b>.mc_ba{
	width: 780px;
	height: 530px;
	margin: 0 auto;
}
.mc_b>.mc_ba>ul>li{
	float: left;
	margin-left: 14px;
	margin-top: 14px;
	position: relative;
}

.mc_b>.mc_ba>ul>li img{
	width: 250px;
	height: 167px;
}
.ml0{
	margin-left: 0px !important;
}
.mt0{
	margin-top: 0;
}
.mc_b>.mc_ba>ul>li:nth-last-of-type(-n+6){
	display: none;
}
.yinb{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	display: none;
	box-sizing: border-box;
}
.yinb .yinb_a{
	width: 210px;
	height: 35px;
	background-color: #c15622;
	border-radius: 5px;
	line-height: 35px;
	margin: 0 auto;
	color: #fff;
}
.mc_b>.mc_ba>ul>li:hover .yinb{
	display: block;
	
}
.mc_b>.mc_ba>ul>li:hover a{
	text-decoration: none !important;
}
/*@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.con_wrap{
		width: 860px;
	}
}*/
.m_d{
	padding-top: 80px;
}
.otp{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.m_e{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #000;
	margin-top: 8px;
}
.m_e>p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
