.D_top{
	width: 100%;
	height: 52px;
	background-color: black;
}
.D_top>.D_top_form{
	width: 245px;
	height: 35px;
	background-color: #fff;
	margin-right: 96px;
	margin-top: 8px;
	border-radius:25px;
}
.D_top>.D_top_form>input{
	height: 100%;
	width: 193px;
	border:none ;
	outline:medium;
	border-radius:25px 0 0 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
.D_top>.D_top_form>button{
	width: 52px;
	height: 100%;
	border:none ;
	outline:medium;
	border-radius:0 25px 25px 0;
	background: #de5304 url(../img/search.png) no-repeat center center;
}
.con_zt{
	width: 300px;
	height: 49px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -150px;
	border: 2px solid #fe5207;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
}
.nav_con{
	padding: 11px 130px  !important;
}
.ulpo>li{
	padding: 0 20px;
}
.ulpo>li>a{
	padding: 14px 0 !important;
	font-weight: 600;
}
.ulpo>.lii1{
	padding-right: 0;
}
.ulpo>.lii2{
	padding-left: 0;
}
@media only screen and (min-width: 580px) and (max-width:768px) {
.ulpo>.lii2{
	padding-left: 10px;
}
}
.lunz{
	width: 35px;
	height: 35px;
	background-color: #fff;
	position: absolute;
	left: 300% !important;
	top: 65% !important;
	background: url(../img/left.png) no-repeat center;

}
.luny{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 300% !important;
	top: 65% !important;
	background: url(../img/right.png) no-repeat center;

}
.lunzhao{
	width: 100%;
	min-height: 152px;
	left: 0;
	top: 50%;
	margin-top: -126px;
	color: #fff;
}
.lunzhao>p:nth-of-type(1){
	font-size: 30px;
	color: #fff;
	letter-spacing: 3px;
}
.lunzhao>p:nth-of-type(2){
	font-size: 12px;	
	letter-spacing: 5px;
}
.lunzhao>a{
	display: inline-block;
	width: 133px;
	height: 38px;
	background-color: #ff5000;
	color: #fff !important;
	text-decoration: none !important;
	margin-top: 20px;
	font-size: 12px;
	line-height: 38px;
}
@media only screen and (max-width: 860px) {
	.ulpo>li{
	padding: 0 10px;
}
}
@media only screen and (max-width: 1200px) {
	.con_zt{
	width: 250px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -125px;
}
	.luny{
	position: absolute;
	right: 295% !important;
	top: 80% !important;
}
	.lunz{
	position: absolute;
	left: 295% !important;
	top: 80% !important;
}
.ulpo>li{
	padding: 0 10px;
}
}
@media only screen and (max-width: 1030px) {
	.con_zt{
	display: none;
}
	.luny{
	position: absolute;
	right: 290% !important;
	top: 80% !important;
}
	.lunz{
	position: absolute;
	left: 290% !important;
	top: 80% !important;
}
}
.m_e{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #000;
	margin-top: 8px;
}
.m_e>p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.dingn{
	margin-bottom: 30px;
}
.m_b .xw_m{
	min-height: 300px !important;
/*	padding-top: 50px;*/
	padding: 0 50px;
}
.fenye{
	min-height: 50px;
}
/*.pof{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
}*/
.pof{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
}
.zhid{
	width: 100%;
	height: 70px;
}