.xw-main{
	min-height: 500px;
	padding-top: 30px;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
	embed{
		width: 100% !important;
	}
	.xw-main img{
		width: 100% !important;
	}

}
